{% extends "paginasweb/index.html" %}
{% load static %}

{% block conteudo %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow" style="width: 100%; max-width: 500px;">
    <h3 class="text-center mb-4">Login de Usuário</h3>

    <form action="{% url 'cadastrar-cadastro' %}" method="post">
      <div class="text-center">
        {% csrf_token %}
        <div class="mb-3 text-start">
          <label for="InputName1" class="form-label">Nome</label>
          <input type="text" name="nome" class="form-control" id="InputName1" required>
        </div>

        <div class="mb-3 text-start">
          <label for="InputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="InputEmail1" required>
          <div id="emailHelp" class="form-text">Seu email nunca será compartilhado.</div>
        </div>

        <div class="mb-3 text-start">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" name="senha" class="form-control" id="exampleInputPassword1" required>
        </div>

        <div class="d-flex justify-content-end align-items-center mt-3">
          <span class="me-1 small">Não possui conta?</span>
          <a class="btn btn-secondary p-0 m-0 small" href="{% url 'listar-clientes-cadastro' %}" role="button">Cadastrar-se</a>

        </div>
        <button type="submit" class="btn btn-primary mt-3 ">Enviar</button>
      </div>
    </form>
  </div>
</div>

  
{% endblock %}
