{% extends "paginasweb/index.html" %}
{% load static %}

{% block conteudo %}

{% block titulo %}
    <title>Lista de Controladores</title>
    {% endblock titulo %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow flex-fill" style="width: 100%; max-width: 1000px; ">
    <h3 class="text-center mb-4">Lista de controladores cadastrados</h3>

    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered align-middle text-center">
        <thead>
          <tr>
            <th style="background-color: #EF233C; color: white;">Nome</th>
            <th style="background-color: #EF233C; color: white;">Descrição</th>
            <th style="background-color: #EF233C; color: white;">Cadastrado em</th>
            <th style="background-color: #EF233C; color: white;">Usuário</th>
            <th style="background-color: #EF233C; color: white;">Opções</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
          <tr>
            <td>{{ obj.nome }}</td>
            <td>{{ obj.descricao }}</td>
            <td>{{ obj.cadastrado_em }}</td>
            <td>{{ obj.usuario }}</td>
            <td>
              <a href="{% url 'editar-controlador' obj.pk %}" class="btn btn-sm btn-warning me-1">Editar</a>
              <a href="{% url 'excluir-controlador' obj.pk %}" class="btn btn-sm btn-danger">Excluir</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">Nenhum registro encontrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
