{% extends "paginasweb/bootstrap.html" %}

{% load static %}

{% block conteudo %}

       
{% if request.user.is_authenticated %}
  <h2 class="mt-3 mb-5 ms-0" >Olá, {{ request.user }}! </h2> 
    
  <h2 class="mt-2 pb-1 border-danger border-bottom">Gráfico de Temperatura</h2>

  <canvas id="grafico_temp" width="650" height="200"></canvas> 


  <h2 class="mt-4 pb-1 border-danger border-bottom">Gráfico de Umidade</h2>

  <canvas id="grafico_umid" width="650" height="200"></canvas> 
  

  {% else %}
  <li><a href="{% url "registrar" %}">Login</a></li>
  {% endif %}

{% endblock %}



{% block scripts %}
<script>



    const grafico_temp = document.getElementById('grafico_temp');

    new Chart(grafico_temp, {
      type: 'line',
      data: {
        labels: {{ labels_temp|safe }},
        datasets: [{
          label: 'Temperatura',
          data: {{ data_temp|safe }},
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });


    const grafico_umid = document.getElementById('grafico_umid');

    new Chart(grafico_umid, {
      type: 'line',
      data: {
        labels: {{ labels_umid|safe }},
        datasets: [{
          label: 'Umidade',
          data: {{ data_umid|safe }},
          borderWidth: 2,
          borderColor: 'green',          // cor da linha
          backgroundColor: 'rgba(0, 128, 0, 0.2)'  // área preenchida (opcional)
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

</script>
{% endblock scripts %}