{% extends "paginasweb/index.html" %}
{% load static %}

{% block conteudo %}

{% block titulo %}
    <title>Lista de Regras</title>
    {% endblock titulo %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow flex-fill" style="width: 100%; max-width: 1000px; ">
    <h3 class="text-center mb-4">Lista de regras cadastradas</h3>

    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered align-middle text-center">
        <thead>
          <tr>
            <th style="background-color: #EF233C; color: white;">Descrição</th>
            <th style="background-color: #EF233C; color: white;">Horário de Início</th>
            <th style="background-color: #EF233C; color: white;">Horário de Fim</th>
            <th style="background-color: #EF233C; color: white;">Valor Mínimo</th>
            <th style="background-color: #EF233C; color: white;">Valor Máximo</th>
            <th style="background-color: #EF233C; color: white;">Controlador</th>
            <th style="background-color: #EF233C; color: white;">Cadastrado em</th>
            <th style="background-color: #EF233C; color: white;">Opções</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
          <tr>
            <td>{{ obj.descricao }}</td>
            <td>{{ obj.horario_inicio }}</td>
            <td>{{ obj.horario_fim }}</td>
            <td>{{ obj.valor_minimo }}</td>
            <td>{{ obj.valor_maximo }}</td>
            <td>{{ obj.controlador }}</td>
            <td>{{ obj.cadastrado_em }}</td>
            <td>
            <div class="d-flex gap-1 justify-content-center">
              <a href="{% url 'editar-regra' obj.pk %}" class="btn btn-sm btn-warning me-1">Editar</a>
              <a href="{% url 'excluir-regra' obj.pk %}" class="btn btn-sm btn-danger">Excluir</a>
            </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">Nenhum registro encontrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}