{% extends "paginasweb/adminindex.html" %}
{% load static %}

{% block conteudo %}

{% block titulo %}
    <title>Sobre Nós Editar</title>
    {% endblock titulo %}

    <h3 class="text-center mb-4">{{ titulo }}</h3>

    <p> {{ conteudo }} </p>

            <div class="d-flex gap-1 justify-content-center">
    <a href="{% url "editar-sobreadmin" obj.pk %}" class="btn btn-sm btn-warning me-1">Editar</a>
    <a href="{% url "excluir-sobreadmin" obj.pk %}" class="btn btn-sm btn-danger">Excluir</a>
</div>


{% endblock %}